<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reeder</title>
    <%= css :app, :media => 'screen' %>
    <%= js :app %>
  </head>
  <body>
    <div id="wrapper">
      <div class="inner">
        <%= render_partial 'partials/_header' %>

        <div class="side">
          <%= render_partial 'partials/_sidebar', feeds: Feed.all %>
        </div>

        <main role="main" id="main" class="">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>